---
layout: main
title: Home
---

<img data-src="/images/20150811-4503.jpg"/>

<h3>
  <a id="welcome" class="anchor" href="#welcome" aria-hidden="true">
    <span class="octicon octicon-link"></span>
  </a>About me.
</h3>

<p>Hi, I'm Manoel Amaro. I'm a software engineer and M.Sc in Computer Science. Currently living in João Pessoa, PB, Brazil.</p>

<h3>
  <a id="work" class="anchor" href="#work" aria-hidden="true">
    <span class="octicon octicon-link"></span>
  </a>Professional Work.
</h3>

<ul>
  {% for job in site.data.jobs %}
    <li>
      <p>
        {{ job.title }} at <a href="{{ job.company_site }}">{{ job.company }}</a> · {{ job.from }} - {{ job.to }}<br />
        <code>{{ job.technologies | array_to_sentence_string }}</code>
      </p>
    </li>
  {% endfor %}
</ul>

<h3>
  <a id="education" class="anchor" href="#education" aria-hidden="true">
    <span class="octicon octicon-link"></span>
  </a>Education.
</h3>

<ul>
  {% for edu in site.data.education %}
    <li>
      <p>
        {{ edu.title }} · {{ edu.from }} - {{ edu.to }}<br />
        <a href="{{ edu.school_site }}">{{ edu.school }}</a> ({{ edu.location }})
      </p>
    </li>
  {% endfor %}
</ul>
